@model ApplicationUser

<h1>Deactivate User</h1>
<p>Are you sure you want to deactivate user: @Model.UserName?</p>

<form asp-action="ConfirmDeactivateUser" asp-route-id="@Model.Id" method="post">
    <button type="submit">Confirm Deactivation</button>
</form>